<!--
*  Whiskey create view
*  Uses HTML and embedded JavaScript (EJS) 
*  to dyanmically create a webpage to create a new whiskey.
*
* @author Denise Case <dcase@nwmissouri.edu>
-->

<p> whiskey create.ejs </p>
