<!--
*  Whiskey delete view
*  Uses HTML and embedded JavaScript (EJS) 
*  to dyanmically create a webpage to delete a whiskey.
*
* @author Denise Case <dcase@nwmissouri.edu>
-->

<p> whiskey delete.ejs </p>