<!--
*  Whiskey details view
*  Uses HTML and embedded JavaScript (EJS) 
*  to dyanmically create a webpage to display a whiskey.
*
* @author Denise Case <dcase@nwmissouri.edu>
-->

<p> whiskey details.ejs </p>