<!--
*  Whiskey edit view
*  Uses HTML and embedded JavaScript (EJS) 
*  to dyanmically create a webpage to edit a whiskey.
*
* @author Stephen Burke <burke.stephenpaul@gmail.com>
-->

<p> whiskey edit.ejs </p>