<!--
*  Series delete view
*  Uses HTML and embedded JavaScript (EJS) 
*  to dyanmically create a webpage to delete a series.
*
* @author Nithya Karepe<s540109@nwmissouri.edu>
-->

<p> series delete.ejs </p>