<!--
*  Series details view
*  Uses HTML and embedded JavaScript (EJS) 
*  to dyanmically create a webpage to display a series.
*
* @author Nithya Karepe<s540109@nwmissouri.edu>
-->

<p> series details.ejs </p>