<!--
*  Software create view
*  Uses HTML and embedded JavaScript (EJS) 
*  to dyanmically create a webpage to create a new software.
*
* @author Joseph Dobelmann <s536997@nwmissouri.edu>
-->

<p> software create.ejs </p>