<!--
*  Software details view
*  Uses HTML and embedded JavaScript (EJS) 
*  to dyanmically create a webpage to display a software.
*
* @author Joseph Dobelmann <s536997@nwmissouri.edu
-->

<p> software details.ejs </p>