<!--
*  Software edit view
*  Uses HTML and embedded JavaScript (EJS) 
*  to dyanmically create a webpage to edit a software
*
* @author Joseph Dobelmann <s536997@nwmissouri.edu>
-->

<p> software edit.ejs </p>