<!--
*  Software index view
*  (the default software page)
*  
*  Uses HTML and embedded JavaScript (EJS) 
*  to dyanmically create a webpage to list all software.
*
* @author Joseph Dobelmann <s536997@nwmissouri.edu>
-->

<p> IN PROGRESS - This is software index.ejs </p>