<!--  Resusable footer included in layout.ejs -->

<footer class="footer bg-light mx-0 py-3 text-center">
 
  <!-- <a target="_blank" rel="noopener" href=${siteURL}>Web App</a> 
  &nbsp; &#9670; &nbsp; -->

   <a class="btn btn-light btn-sm"  href="https://github.com/Rajeshwari-Rudra/treasure-hunt/blob/main/group4.md"
   target="_blank" rel="noopener">About Team  </a>
  &nbsp; &#9670; &nbsp;
 
  <a class="btn btn-light btn-sm" href="https://github.com/Rajeshwari-Rudra/treasure-hunt"
    target="_blank" rel="noopener" >
 
    <i class="fas fa-star"></i>   
  Source code on GitHub 
  <i class="fab fa-github ml-1"></i></a>


&nbsp; &#9670; &nbsp;


<a class="btn btn-light btn-sm" href="https://treasure-hunt2.herokuapp.com/"
    target="_blank" rel="noopener">
 
  
    Group 4
    </a>


</footer>

