<!--  Resusable footer included in layout.ejs -->

<footer class="footer bg-light mx-0 py-3 text-center">
 
  <a target="_blank" rel="noopener" href=${siteURL}>Web App</a>
  &nbsp; &#9670; &nbsp;
 
  <a class="btn btn-light btn-sm" href="https://github.com/denisecase/web-app-2020-fall"
    target="_blank" rel="noopener" role="button">
 
    <i class="fas fa-star"></i>   
  Source code on GitHub 
  <i class="fab fa-github ml-1"></i></a>

</footer>

