<br>
<br>

<h1><%= title %></h1>
<p>Welcome to <%= subTitle %></p>
<p>
  This is the opening page.

<h2>Helpful links - watch the URL in your browser</h2>
<ul>
  <li>
    <a rel="noopener" href='/team'>team</a>
    <a rel="noopener" href='/team/create'>create</a>
    <a rel="noopener" href='/team/details/1'>read</a>
    <a rel="noopener" href='/team/edit/1'>update</a>
    <a rel="noopener" href='/team/delete/3'>delete</a>
    <a rel="noopener" href='/team/findall'>all</a>
    <a rel="noopener" href='/team/findone/1'>one</a>
  </li>
  <li>
    <a rel="noopener" href='/quest'>quest</a>
    <a rel="noopener" href='/quest/create'>create</a>
    <a rel="noopener" href='/quest/details/1'>read</a>
    <a rel="noopener" href='/quest/edit/1'>update</a>
    <a rel="noopener" href='/quest/delete/3'>delete</a>
    <a rel="noopener" href='/quest/findall'>all</a>
    <a rel="noopener" href='/quest/findone/1'>one</a>
  </li>
  
  <li> 
    <a rel="noopener" href='/competition'>competition</a>
    <a rel="noopener" href='/competition/create'>create</a>
    <a rel="noopener" href='/competition/details/1'>read</a>
    <a rel="noopener" href='/competition/edit/1'>update</a>
    <a rel="noopener" href='/competition/delete/3'>delete</a>
    <a rel="noopener" href='/competition/findall'>all</a>
    <a rel="noopener" href='/competition/findone/1'>one</a>
  </li>
  