<br>
<br>

<h1><%= title %></h1>
<p>Welcome to <%= subTitle %></p>
<p>
  This is the opening page.

<h2>Helpful links - watch the URL in your browser</h2>
<hr>
<ul class="nav nav-pills mb-3">
  <li class="nav-item" role="presentation">
    <a class="nav-link nw hvr-grow-shadow" rel="noopener" href='/team'>Teams</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link nw hvr-grow-shadow" rel="noopener" href='/player'>Players</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link nw hvr-grow-shadow" rel="noopener" href='/quest'>Quests</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link nw hvr-grow-shadow" rel="noopener" href='/location'>Locations</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link nw hvr-grow-shadow" rel="noopener" href='/clue'>Clues</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link nw hvr-grow-shadow" rel="noopener" href='/competition'>Competitions</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link nw hvr-grow-shadow" rel="noopener" href='/user'>Users</a>
  </li>
</ul>
<ul>

  <hr>

  <li> <a rel="noopener" href='/user'>user</a>
    <a rel="noopener" href='/user/login'>login</a>
    <a rel="noopener" href='/user/register'>register</a>
    <a rel="noopener" href='/user/forgot-password'>forgot_password</a>
  </li>
</ul>


</p>