<br>
<br>

<h1><%= title %></h1>
<p>Welcome to <%= subTitle %></p>
<p>
  This is the opening page.

<h2>Helpful links - watch the URL in your browser</h2>
<ul>
  <li>
    <a rel="noopener" href='/rabbit'>rabbit</a>
    <a rel="noopener" href='/rabbit/create'>create</a>
    <a rel="noopener" href='/rabbit/details/1'>read</a>
    <a rel="noopener" href='/rabbit/edit/1'>update</a>
    <a rel="noopener" href='/rabbit/delete/3'>delete</a>
    <a rel="noopener" href='/rabbit/findall'>all</a>
    <a rel="noopener" href='/rabbit/findone/1'>one</a>
  </li>
  <li>
    <a rel="noopener" href='/cricket'>cricket</a>
    <a rel="noopener" href='/cricket/create'>create</a>
    <a rel="noopener" href='/cricket/details/1'>read</a>
    <a rel="noopener" href='/cricket/edit/1'>update</a>
    <a rel="noopener" href='/cricket/delete/3'>delete</a>
    <a rel="noopener" href='/cricket/findall'>all</a>
    <a rel="noopener" href='/cricket/findone/1'>one</a>
  </li>
  <li> <a rel="noopener" href='/tea'>tea</a>
  </li>
  <li> 
    <a rel="noopener" href='/game'>game</a>
    <a rel="noopener" href='/game/create'>create</a>
    <a rel="noopener" href='/game/details/1'>read</a>
    <a rel="noopener" href='/game/edit/1'>update</a>
    <a rel="noopener" href='/game/delete/3'>delete</a>
    <a rel="noopener" href='/game/findall'>all</a>
    <a rel="noopener" href='/game/findone/1'>one</a>
  </li>
  <li> <a rel="noopener" href='/animal'>animal</a>
    <a rel="noopener" href='/animal/create'>create</a>
    <a rel="noopener" href='/animal/details/1'>read</a>
    <a rel="noopener" href='/animal/edit/1'>update</a>
    <a rel="noopener" href='/animal/delete/3'>delete</a>
    <a rel="noopener" href='/animal/findall'>all</a>
    <a rel="noopener" href='/animal/findone/1'>one</a>
  </li>
  <li> <a rel="noopener" href='/unknown'>unknown</a>
  </li>
  <li> <a rel="noopener" href='/chief'>chief</a>
  </li>
  <li> <a rel="noopener" href='/plant'>plant</a>
    <a rel="noopener" href='/plant/create'>create</a>
    <a rel="noopener" href='/plant/details/1'>read</a>
    <a rel="noopener" href='/plant/edit/1'>update</a>
    <a rel="noopener" href='/plant/delete/3'>delete</a>
    <a rel="noopener" href='/plant/findall'>all</a>
    <a rel="noopener" href='/plant/findone/1'>one</a>
  </li>
  <li> <a rel="noopener" href='/food'>food</a>
    <a rel="noopener" href='/food/create'>create</a>
    <a rel="noopener" href='/food/details/1'>read</a>
    <a rel="noopener" href='/food/edit/1'>update</a>
    <a rel="noopener" href='/food/delete/3'>delete</a>
    <a rel="noopener" href='/food/findall'>all</a>
    <a rel="noopener" href='/food/findone/1'>one</a>
  </li>
  <li> <a rel="noopener" href='/software'>software</a>
    <a rel="noopener" href='/software/create'>create</a>
    <a rel="noopener" href='/software/details/1'>read</a>
    <a rel="noopener" href='/software/edit/1'>update</a>
    <a rel="noopener" href='/software/delete/3'>delete</a>
    <a rel="noopener" href='/software/findall'>all</a>
    <a rel="noopener" href='/software/findone/1'>one</a>
  </li>
  <li> <a rel="noopener" href='/whiskey'>whiskey</a>
    <a rel="noopener" href='/whiskey/create'>create</a>
    <a rel="noopener" href='/whiskey/details/1'>read</a>
    <a rel="noopener" href='/whiskey/edit/1'>update</a>
    <a rel="noopener" href='/whiskey/delete/3'>delete</a>
    <a rel="noopener" href='/whiskey/findall'>all</a>
    <a rel="noopener" href='/whiskey/findone/1'>one</a>
  </li>
  <li> 
    <a rel="noopener" href='/book'>book</a>
    <a rel="noopener" href='/book/create'>create</a>
    <a rel="noopener" href='/book/details/1'>read</a>
    <a rel="noopener" href='/book/edit/1'>update</a>
    <a rel="noopener" href='/book/delete/3'>delete</a>
    <a rel="noopener" href='/book/findall'>all</a>
    <a rel="noopener" href='/book/findone/1'>one</a>
  </li>
  </li>
  <li> <a rel="noopener" href='/videogame'>videogame</a>
    <a rel="noopener" href='/videogame/create'>create</a>
    <a rel="noopener" href='/videogame/details/1'>read</a>
    <a rel="noopener" href='/videogame/edit/1'>update</a>
    <a rel="noopener" href='/videogame/delete/3'>delete</a>
    <a rel="noopener" href='/videogame/findall'>all</a>
    <a rel="noopener" href='/videogame/findone/1'>one</a>
  </li>
  <li> <a rel="noopener" href='/company'>company</a>
    <a rel="noopener" href='/company/create'>create</a>
    <a rel="noopener" href='/company/details/1'>read</a>
    <a rel="noopener" href='/company/edit/1'>update</a>
    <a rel="noopener" href='/company/delete/3'>delete</a>
    <a rel="noopener" href='/company/findall'>all</a>
    <a rel="noopener" href='/company/findone/1'>one</a>
  </li>
  <li> <a rel="noopener" href='/course'>course</a>
  </li>
  <li> <a rel="noopener" href='/series'>series</a>
    <a rel="noopener" href='/series/create'>create</a>
    <a rel="noopener" href='/series/details/1'>read</a>
    <a rel="noopener" href='/series/edit/1'>update</a>
    <a rel="noopener" href='/series/delete/3'>delete</a>
    <a rel="noopener" href='/series/findall'>all</a>
    <a rel="noopener" href='/series/findone/1'>one</a>
  </li>
  <li> <a rel="noopener" href='/fruit'>fruit</a>
    <a rel="noopener" href='/fruit/create'>create</a>
    <a rel="noopener" href='/fruit/details/1'>read</a>
    <a rel="noopener" href='/fruit/edit/1'>update</a>
    <a rel="noopener" href='/fruit/delete/3'>delete</a>
    <a rel="noopener" href='/fruit/findall'>all</a>
    <a rel="noopener" href='/fruit/findone/1'>one</a>
  </li>
  <li> <a rel="noopener" href='/dance'>dance</a>
  </li>
  <li> <a rel="noopener" href='/ship'>ship</a>
    <a rel="noopener" href='/ship/create'>create</a>
    <a rel="noopener" href='/ship/details/1'>read</a>
    <a rel="noopener" href='/ship/edit/1'>update</a>
    <a rel="noopener" href='/ship/delete/3'>delete</a>
    <a rel="noopener" href='/ship/findall'>all</a>
    <a rel="noopener" href='/ship/findone/1'>one</a>
  </li>
  <li> <a rel="noopener" href='/pokemon'>pokemon</a>
  </li>
  <li> <a rel="noopener" href='/one'>one</a>
  </li>
  <li> <a rel="noopener" href='/two'>two</a>
  </li>
  <li> <a rel="noopener" href='/three'>three</a>
  </li>
</ul>


</p>

<h2>Concepts</h2>
<ul>
<li> <a rel="noopener" href='https://images.app.goo.gl/yhnHbDrcKsn8FAbY7'>MVC Overview Diagram</a></li>
<li> <a rel="noopener" href='https://images.app.goo.gl/gkzbErLorUMoa3kz8'>ORM Diagram (e.g., Sequelize, Mongoose)</a></li>
<li> <a rel="noopener" href='https://www.geeksforgeeks.org/difference-between-node-js-require-and-es6-import-and-export/'>Modular code: Node requires() vs ES6 import</a></li>
<li> <a rel="noopener" href='https://heynode.com/blog/2020-05/add-server-logs-your-nodejs-app-morgan-and-winston'>Server logging with Morgan (HTTP requests) and Winston (all)</a></li>
<li> <a rel="noopener" href='https://github.com/mbeaudru/modern-js-cheatsheet'>Modern JavaScript Cheatsheet</a></li>
<li> <a rel="noopener" href='https://devhints.io/es6'>JS ES2015 (ES6) Cheatsheet</a></li>
<li> <a rel="noopener" href='https://expressjs.com/en/starter/generator.html'>Start your own app with Express Application Generator</a></li>
<li> <a rel="noopener" href='https://github.com/MunGell/awesome-for-beginners'>Contribute to another open source project</a></li>
</ul>

<h2>Quizzes</h2>
<ul>
<li> <a rel="noopener" href='https://www.edureka.co/blog/interview-questions/javascript-interview-questions/'>Edureka! (50 questions)</a></li>
<li> <a rel="noopener" href='https://github.com/sudheerj/javascript-interview-questions'>GitHub sudheerj (many)</a></li>
<li> <a rel="noopener" href='https://github.com/vvscode/js--interview-questions'>GitHub vvscode (with resource links)</a></li>
</ul>

</p>

