<!--
*  Team edit view
*  Uses HTML and embedded JavaScript (EJS) 
*  to dyanmically create a webpage to edit a team.
*
* @author Puneeth Annam <S538293@nwmissouri.edu>
-->

<div class="card">
  <div class="card-header">
    Edit Team
  </div>
  <div class="card-body">
    <form action="/team/save/<%= team.id %>" method="post">
      <div class="form-group">
        <label for="name">Team Name:</label>
        <input type="text" class="form-control" id="name" name="name" value="<%= team.name %>" autocomplete="off">
      </div>
      <div class="form-group">
        <label for="Id">TeamId:</label>
        <input type="number" class="form-control" id="teamid" name="teamid" value="<%= team.id %>" min=1 max=100 step=1
          default=2 autocomplete="off">
      </div>
      <br>
      <div class="form-group">
        <input type="submit" class="btn btn-info" title="Submits a POST /save/:id request" value="Save" />
      </div>
    </form>
  </div>
</div>