<section class="d-flex align-items-center mx-auto mt-5 p-5 flex-column shadow-lg rounded"
  style="background-color:white">

  <label class="text-center headText"
    style="font-size: 24px;font-family:  'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif">Forget Password?</label>

  <form method="post" action="/user/forgot-password">

    <input type="text" placeholder="Email" id="email" name="uname" class="pl-2" style="margin-top: 16px; border: none;border-bottom: 1px black solid;
      outline:none;
      background-color: white;
      width:20rem;
      ">
      <br><br>

    <button class="rounded-100  text-center"
      style="background-color: #00674c; color: white; padding: 0px;border-radius: 6px;align-self: center; height: 30px;width: 120px;justify-content: center;"
      type="submit" value="submit">Reset</button>

  </form>

</section>