<section class="d-flex align-items-center mx-auto mt-5 p-5 flex-column shadow-lg rounded" style="background-color:white">
 
  <label class="text-center headText" style="font-size: 24px;font-family:  'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif">Register</label>

  <form method="post" action="/user/register">
 
 <input type="text" placeholder="Email" id="email" name="uname" class="pl-2" style="border: none;border-bottom: 1px black solid;
          outline:none;
          background-color: white;
          width:20rem;"><br><br>
      <input type="password" placeholder=" New Password" id="password"  class="pl-2" style="border: none;border-bottom: 1px black solid;
          outline:none;
          background-color: white;
          width:20rem;"><br><br>
      <input type="password" placeholder="Confirm Password" id="newpassword"  class="pl-2" style="border: none;border-bottom: 1px black solid;
          outline:none;
          background-color: white;
          width:20rem;"><br><br>
    <button class="rounded-100  text-center"
    style="display: flex; margin: 0 auto; background-color: #00674c; color: white; padding: 0px;border-radius: 6px;align-self: center; height: 30px;width: 120px;justify-content: center;"
    id="login" type="submit" value="submit">Register
  </button>
  
</form>

  <div
  style="display: flex; flex-direction: row; justify-content: space-between; align-content: space-between; margin-top: 2em;">

  <a href="/user/login"><button class="mr-5"
      style="background:none;border: none; margin: 0; padding: 0;color: #00674c; cursor: pointer; display: flex; margin: 0 auto;">
      Already a user?</button></a>

  <a href="/user/login"> <button id="register"
      style="background:none; border: none; border: none; margin: 0; padding: 0;color:blue; cursor: pointer;display: flex; margin: 0 auto;">Login</button></a>

</div>

</section>