<!--
*  team create view
*  Uses HTML and embedded JavaScript (EJS) 
*  to dyanmically create a webpage to create a new team.
*
* @author Denise Case <dcase@nwmissouri.edu>
-->

<p> team create.ejs </p>
