<!--
*  Rabbit create view
*  Uses HTML and embedded JavaScript (EJS) 
*  to dyanmically create a webpage to create a new rabbit.
*
* @author Denise Case <dcase@nwmissouri.edu>
-->

<p> rabbit create.ejs </p>
