<!--
*  Rabbit details view
*  Uses HTML and embedded JavaScript (EJS) 
*  to dyanmically create a webpage to display a rabbit.
*
* @author Denise Case <dcase@nwmissouri.edu>
-->

<p> rabbit details.ejs </p>