<!--
*  Tea index view
*  (the default tea page)
*  
*  Uses HTML and embedded JavaScript (EJS) 
*  to dyanmically create a webpage to list all teams.
*
* @author Charles Hoot <hoot@nwmissouri.edu>
-->

<p> IN PROGRESS - This is team index.ejs </p>