/* Custom Styles - use MDB 5 classes as much as possible */
/* See: https://mdbootstrap.com/docs/standard/ */

:root {
  /* set new css variables at the top of the tree */
  --nw-green: #006747;
}

a {
  color: var(--nw-green);
}

.page-container {
  background-color: lightgrey;
}
