<!--
*  Food create view
*  Uses HTML and embedded JavaScript (EJS) 
*  to dyanmically create a webpage to create a new food.
*
* @author Sri Vasavi Vipparla <S540791@nwmissouri.edu>
-->

<p> food create.ejs </p>
