<!--
*  Food details view
*  Uses HTML and embedded JavaScript (EJS) 
*  to dyanmically create a webpage to display a food.
*
* @author Sri vasavi Vipparla  <S540791@nwmissouri.edu>
-->

<p> food details.ejs </p>