<!--
*  Food edit view
*  Uses HTML and embedded JavaScript (EJS) 
*  to dyanmically create a webpage to edit a food.
*
* @author Sri Vasavi Vipparla  <S540791@nwmissouri.edu>
-->

<p> food edit.ejs </p>