<!--
*  Cricket create view
*  Uses HTML and embedded JavaScript (EJS) 
*  to dyanmically create a webpage to create a new rabbit.
*
* @author Praneeth Vallabhaneni <S541312@nwmissouri.edu>
-->

<p> cricket create.ejs </p>
