<!--
*  Cricket details view
*  Uses HTML and embedded JavaScript (EJS) 
*  to dyanmically create a webpage to display a cricket.
*
* @author Praneeth Vallabhaneni <S541312@nwmissouri.edu>
-->

<p> cricket details.ejs </p>