<!--
*  Cricket edit view
*  Uses HTML and embedded JavaScript (EJS) 
*  to dyanmically create a webpage to edit a cricket.
*
* @author Praneeth Vallabhaneni <S541312@nwmissouri.edu>
-->

<p> cricket edit.ejs </p>