<!--
*  Company create view
*  Uses HTML and embedded JavaScript (EJS) 
*  to dyanmically create a webpage to create a new company.
*
* @author Chandler Wright <s534776@nwmissouri.edu>
-->

<p> company create.ejs </p>
