<!--
*  Company details view
*  Uses HTML and embedded JavaScript (EJS) 
*  to dyanmically create a webpage to display a company.
*
* @author  Chandler Wright <s534776@nwmissouri.edu>
-->

<p> company details.ejs </p>