<!--
*  Company edit view
*  Uses HTML and embedded JavaScript (EJS) 
*  to dyanmically create a webpage to edit a company.
*
* @author Chandler Wright <s534776@nwmissouri.edu>
-->

<p> company edit.ejs </p>