<!--
*  Company index view
*  (the default book page)
*  
*  Uses HTML and embedded JavaScript (EJS) 
*  to dyanmically create a webpage to list all Company.
*
* @author Chandler Wright <s534776@nwmissouri.edu>
-->

<p> IN PROGRESS - This is company index.ejs </p>