<!--
*  book create view
*  Uses HTML and embedded JavaScript (EJS) 
*  to dyanmically create a webpage to create a new book.
*
* @author shivani tangellapally <s540965@nwmissouri.edu>
-->

<p> book create.ejs </p>
