<!--
*  book details view
*  Uses HTML and embedded JavaScript (EJS) 
*  to dyanmically create a webpage to display a book.
*
* @author  shivani tangellapally <s540965@nwmissouri.edu>
-->

<p> book details.ejs </p>