<!--
*  book edit view
*  Uses HTML and embedded JavaScript (EJS) 
*  to dyanmically create a webpage to edit a book.
*
* @author shivani tangellapally <s540965@nwmissouri.edu>
-->

<p> book edit.ejs </p>