<!--
*  book index view
*  (the default book page)
*  
*  Uses HTML and embedded JavaScript (EJS) 
*  to dyanmically create a webpage to list all book.
*
* @author shivani tangellapally <s540965@nwmissouri.edu>
-->

<p> IN PROGRESS - This is book index.ejs </p>