<!--
*  Animal delete view
*  Uses HTML and embedded JavaScript (EJS) 
*  to dyanmically create a webpage to delete a animal.
*
* @author Varsha vellanki<s540114@nwmissouri.edu>
-->

<p> animal delete.ejs </p>