<!--
*  Animal edit view
*  Uses HTML and embedded JavaScript (EJS) 
*  to dyanmically create a webpage to edit a animal.
*
* @author Varsha vellanki  <s540114@nwmissouri.edu>
-->

<p> animal edit.ejs </p>