<!--
*  Animal index view
*  (the default animal page)
*  
*  Uses HTML and embedded JavaScript (EJS) 
*  to dyanmically create a webpage to list all animals.
*
* @author  Varsha Vellanki <s540114@nwmissouri.edu>
-->

<p> IN PROGRESS - This is animal index.ejs </p>