<!--
*  Video Game create view
*  Uses HTML and embedded JavaScript (EJS) 
*  to dyanmically create a webpage to create a new videogame.
*
* @author Kunal Vohra <s5407876@nwmissouri.edu>
     -->

<p> videogame create.ejs </p>