<!--
*  Video Game delete view
*  Uses HTML and embedded JavaScript (EJS) 
*  to dyanmically create a webpage to delete a video game.
*
* @author Kunal Vohra <s5407876@nwmissouri.edu>
-->

<p> videogame delete.ejs </p>