<!--
*  Video Game details view
*  Uses HTML and embedded JavaScript (EJS) 
*  to dyanmically create a webpage to display a viedo game.
*
* @author Kunal Vohra <s5407876@nwmissouri.edu>
-->

<p> videogame details.ejs </p>