<!--
*  Whiskey edit view
*  Uses HTML and embedded JavaScript (EJS) 
*  to dyanmically create a webpage to edit a video game.
*
* @author Kunal Vohra <s5407876@nwmissouri.edu>
-->

<p> videogame edit.ejs </p>