<!--
*  team details view
*  Uses HTML and embedded JavaScript (EJS) 
*  to dyanmically create a webpage to display a team.
*
* @author Denise Case <dcase@nwmissouri.edu>
-->

<p> fruit details.ejs </p>