<!--
*  ship create view
*  Uses HTML and embedded JavaScript (EJS) 
*  to dyanmically create a webpage to create a new ship.
*
* @author Sam Ritter <s523855@nwmissouri.edu>
-->

<p> ship create.ejs </p>
