<!--
*  ship details view
*  Uses HTML and embedded JavaScript (EJS) 
*  to dyanmically create a webpage to display a ship.
*
* @author Sam Ritter <s523855@nwmissouri.edu>
-->

<p> ship details.ejs </p>