<!--
*  book delete view
*  Uses HTML and embedded JavaScript (EJS) 
*  to dyanmically create a webpage to delete a book.
*
* @author Sreenidhi Madala <s541226@nwmissouri.edu>
-->

<p> book delete.ejs </p>